@import 'rest';
.img-box{
	width: 200px;
}

.img-box2{
	background: url(../imgs/v-bj.jpg) no-repeat left top 100%/100%;
	width: 600px;
	height: 200px;
}
.img-box3{
	background: url(../imgs/focus1.jpg) no-repeat left top 100%/100%;
	width: 400px;
	height: 200px;
}